# 주소(도메인)에 따라 첫 화면 파일을 다르게 보여줍니다.
#   semoon.store / www.semoon.store  -> semoon.html (세문 경정청구)
#   그 외 (kbss15162606.mycafe24.com) -> index.html  (KBSS 정책자금)
<If "%{HTTP_HOST} =~ /(^|\.)semoon\.store$/">
    DirectoryIndex semoon.html
</If>
<Else>
    DirectoryIndex index.html
</Else>
